<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>ankleFlexion</string>
		<key>tags</key>
		<array>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>pushUp</string>
		<key>tags</key>
		<array>
			<string>chest</string>
			<string>arm</string>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>benchPress</string>
		<key>tags</key>
		<array>
			<string>chest</string>
			<string>arm</string>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>crunch</string>
		<key>tags</key>
		<array>
			<string>abs</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>calfRaise</string>
		<key>tags</key>
		<array>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>squat</string>
		<key>tags</key>
		<array>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bearCrawl</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>fowardLunge</string>
		<key>tags</key>
		<array>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>plank</string>
		<key>tags</key>
		<array>
			<string>abs</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>frontRaise</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>lateralRaise</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>gluteBridge</string>
		<key>tags</key>
		<array>
			<string>glutes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>inclineBenchPress</string>
		<key>tags</key>
		<array>
			<string>chest</string>
			<string>arm</string>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>declineBenchPress</string>
		<key>tags</key>
		<array>
			<string>chest</string>
			<string>arm</string>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedBicepsCurl</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedCablePress</string>
		<key>tags</key>
		<array>
			<string>chest</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedCrunch</string>
		<key>tags</key>
		<array>
			<string>abs</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedHighBackRow</string>
		<key>tags</key>
		<array>
			<string>back</string>
			<string>arm</string>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedLatPulldown</string>
		<key>tags</key>
		<array>
			<string>back</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedLegExtension</string>
		<key>tags</key>
		<array>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedLegAbdution</string>
		<key>tags</key>
		<array>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedLegPress</string>
		<key>tags</key>
		<array>
			<string>glutes</string>
			<string>leg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedShoulderPress</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedRow</string>
		<key>tags</key>
		<array>
			<string>back</string>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>sidePlank</string>
		<key>tags</key>
		<array>
			<string>glutes</string>
			<string>abs</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>singleArmLateralRaise</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>squatJumps</string>
		<key>tags</key>
		<array>
			<string>leg</string>
			<string>glutes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>standingBicepsCurl</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>supermans</string>
		<key>tags</key>
		<array>
			<string>abs</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>tricepsExtension</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>tricepsPushdowns</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>vRaise</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>extensionWristCurl</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>flexionWristCurl</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>chinUps</string>
		<key>tags</key>
		<array>
			<string>arm</string>
			<string>back</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>farmerCarry</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>halfTurkishGetUp</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>hammerCurl</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>lateralCrawls</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>lyingBarbellTricepsExtension</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>lyingChestFly</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
			<string>chest</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>pullUps</string>
		<key>tags</key>
		<array>
			<string>back</string>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>reverseBicepsCurl</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>reverseLunge</string>
		<key>tags</key>
		<array>
			<string>leg</string>
			<string>glutes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>romanianDeadlift</string>
		<key>tags</key>
		<array>
			<string>leg</string>
			<string>glutes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Asynchronous Waves</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>backSquat</string>
		<key>tags</key>
		<array>
			<string>leg</string>
			<string>glutes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>singleArmRow</string>
		<key>tags</key>
		<array>
			<string>back</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>singleArmShoulderPress</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>seatedSingleArmShoulderPress</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>singleArmRow</string>
		<key>tags</key>
		<array>
			<string>back</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>standingChestFly</string>
		<key>tags</key>
		<array>
			<string>chest</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>swing</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>tricepsExtension</string>
		<key>tags</key>
		<array>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>horseRow</string>
		<key>tags</key>
		<array>
			<string>back</string>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>deadlift</string>
		<key>tags</key>
		<array>
			<string>leg</string>
			<string>fullBody</string>
			<string>back</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>bentOverRow</string>
		<key>tags</key>
		<array>
			<string>back</string>
			<string>shoulder</string>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>burpee</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>powerClean</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>standingShoulderPress</string>
		<key>tags</key>
		<array>
			<string>shoulder</string>
			<string>arm</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>turkishGetUp</string>
		<key>tags</key>
		<array>
			<string>fullBody</string>
		</array>
	</dict>
</array>
</plist>
